lets create a function

In [57]:
def is_even(i):  #function
    x=i%2==0
    return x 


a=is_even(5)   #calling
print(a)

False

function with docstring

In [58]:
def is_odd(j):
    """ this function checks for odd number 
    input - any valid integer
    output -odd
    date-27may25
    """
    x=j%2!=0
    return x


b=is_odd(11)
print(b)

True

In [59]:
is_odd.__doc__   #documentation ka access

' this function checks for odd number \n    input - any valid integer\n    output -odd\n    date-27may25\n    '

parameter vs argument

Default
positional
keyword

In [60]:
def power(a=1,b=1):#default arg is ek hi parameter diya ho toh second waale k liye usme 1 h 
    return a**b
                     

power(3)

3

In [61]:
#keyword argument 
power(b=3,a=2)

8

In [62]:
#positional 
power(2,3)

8

*args and **kwargs  
are special py keywords that are used to pass the variable length of arguments to  a function

*args---->>> allows us to pass a variable number of non keyword arguments to a function.

In [63]:
def multiply(*args):   #can use any word in place of args
    product=1
    for i in args:
        product =product*i; 
        
    print(args)     #python makes this into a tupple and operate 
    return product 

multiply(2,4,5,7,6,9,10)

(2, 4, 5, 7, 6, 9, 10)

151200

**kwargs--->> allows us to pass any number of keyword  arguments.
keyword arguments means that they contain  a key-value pair,like a python dictionary .

In [64]:
def display(**kwargs):
    for(key,value) in kwargs.items():
         print(key,'->',value)

display(india='bilaspur',usa='virginia',nepal='momos',japan='beauties',pakistan='international bhikhari')

india -> bilaspur
usa -> virginia
nepal -> momos
japan -> beauties
pakistan -> international bhikhari

IMP POINTS 
order of arguments matter (normal-> *args -> **kwargs)
args and kwargs is only a convention you can write any thing in place of it

HOW functions are executed in a memory

life span of variable of a function is === life span of fumnction

lifespan of function = calling to return statement 
function act as a separate program

In [65]:
#function without a return statement--->> then python none bheje ga


l=[1,2,4,3]
print(l.append(5))
print(l)

None
[1, 2, 4, 3, 5]

VAriable scope

In [66]:
def g(y):    #y=local
    print(x)
    print(x+1)

x=5
g(x)     #x=global
print(x)

5
6
5

In [67]:
def h(y):
    global x # this is a help to do the sin
    x +=1   #we cannot manipulate global variables in functions 

x=5    
h(x)  
print(x)

6

NESTED FUNCTIONS

In [68]:
def f():
    def g():
        print("inside function g ")
    g()
    print("inside function f ")

a=f() 
print(a)  
#g()  y nhi kr skte

inside function g
inside function f
None

In [69]:
def g(x):    #good question
    def h():
        x='abc'
    x=x+1
    print('in g(x): x=',x)
    h()
    return x 

x=3
x=g(x)

in g(x): x= 4

everything in python is a refrence

<h1> functions in python are first class citizen </h1>

jo kaam koi data type kr skata h vo sare kaamm functions bhi kr skte h

In [70]:
#type and id 
def square(num):
    return num*num



print(type(square))

a=2
print(id(2))
print(id(square))

<class 'function'>
140716921137624
2991475531808

In [71]:
#reassign
x=square  #now sruare is x 
id(x)  
a=x(4)  # x=square
print(a)

16

In [72]:
#deleting a function
#del square    #hell yeah!!

#square(3)

In [73]:
#storing 
l=[1,2,3,4,square]
l[-1](3)

9

In [ ]:
#mutability ----> nope !!
s={square}     #set only store immutable data types 
s

{<function __main__.square(num)>}

Returning a function

In [75]:
def f():
 def x(a,b):
  return a+b
 return x 

val = f()(3,4)
print(val)

7

function as argument

In [ ]:
def fun_a():
    print('inside func_a')

def fun_b(z):
    print('inside fun_c')
    return z()

print(fun_b(fun_a))    ##function k andar dusre function ko as a argument bhej skte h

inside fun_c
inside func_a
None

BENEFITS OF USING A  FUNCION

code modularity
code readability
code reusability

<h3> Lamda function</h3>
its a small anonymous function
a lamda function can take any number of arguments , but can have one expression

In [77]:
#x->x^2
a= lambda x:x**2
a(2)

4

In [ ]:
#x,y->x+y

b= lambda x,y:x+y
print(b)
b(3,4)

<function <lambda> at 0x000002B88265A0C0>

3

Difference between lamda and normal function 
<p>
lambda 
no name ,
no return value, 
always written in one line ,
not reusable .
usage ---> for higher order functions 
</p>

In [84]:
#check if a string has 'a'
a = lambda s :'a' in s 
a('hello')

False

In [87]:
#if else inside lambda 
a=lambda x:'even' if x%2==0 else 'odd'
a(4)

'even'

HOF - Higher order function 

ek esa function jo dusre function ko return kre ya input m dusre function ko recieve kre

In [90]:
def square(x):
    return x**2

def transform(f,l):  #hof 
    output =[]
    for i in l:
        output.append(f(i))

    print(output)

l =[1,2,3,4,5]

#transform(square , l )

transform(lambda x:x**3,l)

[1, 8, 27, 64, 125]

MAP

In [91]:
#SqUAre the items of a list 
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [93]:
#odd even labelling of list items 
l=[1,2,3,4,5,6]
list(map(lambda x :'even 'if x%2==0 else 'odd',l))

['odd', 'even ', 'odd', 'even ', 'odd', 'even ']

In [94]:
#fetch names from a list in dict 
users=[
    {
        'name':'shrey',
        'age':20,
        'gender':'male'
    },{
        'name':'shruti',
        'age':20,
        'gender':'female'
    }
] 

list(map(lambda users:users['name'],users))

['shrey', 'shruti']

FILTER

In [96]:
#number greater than 5 
l=[1,2,3,4,7,8]
list(filter(lambda x :x>5,l))

[7, 8]

In [98]:
#fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

REDuCE

functools import krna hoag

In [99]:
#sum of all
import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [100]:
#find min
import functools 
functools.reduce(lambda x,y:x<y,[1,2,3,4,5])

True